.container {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  width: 900px;
  border: solid 2px black;
}

.square {
  width: 56.25px; 
  height: 56.25px; 
  border: solid 1px black; 
  box-sizing: border-box;
}
